Thanks for signin up.  This is the info we got. You'll receive an email with a random cat picture once per day.  You can unsubscribe from the email.<br/><br/>
<strong>Your name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Your email</strong>
  <%= @user.email %>
</p>

