Thanks for signin up.  This is the info we got.<br/>
<strong>Your name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Your email</strong>
  <%= @user.email %>
</p>

<%= link_to 'Unsubscribe', user_path(@user),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
